html, body {
    height: 100%;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/image.jpg");
    background-size: 50% 50%;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info {
    background-color: #ffffff;
    border: 5px solid lightblue;
    padding: 50px 80px;
    text-align: center; 
}

.info h1 {
    color: black;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;

}

.info p {
    color: black;
    font-size: 20px;
    margin: 0;
}